@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    font-size: 1.3em;
}

a{
    text-decoration: none;
    color: #fff;
}

/*scroll-indicator*/

.header {
  position: fixed;
  top: 0;
  
  width: 100%;
  
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #ca371d;
  width: 0%;
}

/*scroll-indicator*/


/*top-panel*/

.top-panel{
    padding: 20px;
    background:#103047;
}


/*top-panel*/


.swipe{
    display: flex;
}

/*courses*/

.courseContainer{
    background: #103047;
    color: #fff;
    width: 20%;
}



.courses{
    background: #0c2435;
}


.courses .course a{
    margin: auto;
    position: relative;
    transition: .5s;
    display: block;
    text-transform: lowercase;
    padding: 10px;
}


.courses .course a:hover{
    background:#103047;
    color: rgb(11, 248, 11) !important;
}

.courses .course.html a{
    color: #f06529;
}

.courses .course.css a{
    color: #2965f1;

}

.courses .course.sass a{
    color: #CD6799;
}

.courses .course.javascript a{
    color: #F0DB4F;

}

.courses .course.github a{
    color: #F1502F;

}

.courses .course.typescript a{
    color: #007acc;

}

.courses .course.react a{
    color: #61DBFB;
}

.courses .course.angular a{
    color: #B52E31;
}

.courses .course.vue a{
    color: #41B883;
}

.courses .course.php a{
    color: #787CB5;
}

.courses .course.sql a{
    color: #00A4EF;
}

.courses .course.node a{
    color: #68A063;
}

.courses .course.mysql a{
    color: #00758F;
}

.courses .course.mongodb a{
    color: #4DB33D;
}


/*courses*/



/*practice*/
.practice{
    background: #0e2c42;
    color: #fff;   
    width: 100%;
    margin: auto;
}

.projectContainer{
    display: flex;
    flex-wrap: wrap;
}

.projectContainer > div{
    width: 31.5%;
    margin: 10px;
    border-radius: 5px;
    transition: .5s;

}

.projectContainer > div:hover{
    transform: translate(-10px, -10px);
}

.projectContainer h3{
    text-align: left;
    padding: 10px;
    color: #ffffff;
}

.project a{
    padding: 10px;
    display: block;
    
    transition: .5s;
}

.htmlAndCssPractice{
    color: #fff;
    background: #f15614;
}

.htmlAndCssPractice a:hover{
    background: #ff5c16;
    color: #333;
}

.sassPractice{
    background: #CD6799;
}

.sassPractice a:hover{
    background: #ff81be;
    color: #333;
}

.javascriptPractice{
    background: #F0DB4F;
    color: #333;
    
}


.javascriptPractice a:hover{
    background: #ffe854;
    color: #333;
}

.gitPractice{
    background: #F1502F;
}

.gitPractice a:hover{
    background: #f85838;
    color: #333;
}

.typescriptPractice{
    background: #007acc;
}

.typescriptPractice a:hover{
    background: #029aff;
    color: #333;
}

.reactPractice{
    background: #61DBFB;
}

.reactPractice a:hover{
    color: #333;
    background:  #5dd2f0;
}

.angularPractice{
    background: #B52E31;
}

.angularPractice a:hover{
    background: #c93436;
    color: #333;
}

.vuePractice{
    background: #41B883;
}

.vuePractice a:hover{
    background: #4edd9d;
    color: #333;
}

.phpPractice{
    background: #787CB5;
}

.phpPractice a:hover{
    background: #9499df;
    color: #333;
}

.sqlPractice{
    background: #00A4EF;
}

.sqlPractice a:hover{
    background: #02afff;
    color: #333;
}

.nodePractice{
    background: #68A063;
}

.nodePractice a:hover{
    background: #7ebe78;
    color: #333;
}


.mysqlPractice{
    background: #00758F;
}

.mysqlPractice a:hover{
    background: #06b3da;
    color: #333;
}

.mongodbPractice{
    background: #4DB33D;
}

.mongodbPractice a:hover{
    background: #56c945;
    color: #333;
}

/*practice*/





















/*htmlCourse*/

#html{
    background: #f06529;
}

/*htmlCourse*/


/*cssCourse*/

#css{
    background: #2965f1;
}

/*cssCourse*/

/*sassCourse*/

#sass{
    background: #CD6799;;
}

/*sassCourse*/


/*javascriptCourse*/

#javascript{
    background: #F0DB4F;
}

/*javascriptCourse*/


/*gitCourse*/

#git{
    background: #F1502F;
}

/*gitCourse*/


/*typescriptCourse*/

#typescript{
    background: #007acc;
}

/*typescriptCourse*/

/*reactCourse*/

#react{
    background: #61DBFB;
}

/*reactCourse*/

/*angularCourse*/

#angular{
    background: #B52E31;
}   

/*angularCourse*/

/*vueCourse*/

#vue{
    background: #41B883;
}

/*vueCourse*/

/*phpCourse*/

#php{
    background: #787CB5;
}

/*phpCourse*/


/*sqlCourse*/

#sql{
    background: #00A4EF;;
}

/*sqlCourse*/

/*nodeCourse*/

#node{
    background: #68A063;
}

/*nodeCourse*/

/*mysqlCourse*/

#mysql{
    background: #00758F;;
}

/*mysqlCourse*/

/*mongodbCourse*/

#mongodb{
    background: #4DB33D;
}

/*mongodbCourse*/










/*textContainer*/

.textContainer{
    background: #fff;
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
}

.textContainer .center{
    width: 100%;
}

.textContainer img{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.textContainer h2, .textContainer h3{
    text-align: center;
    margin: 20px;
}

.textContainer p{
    text-align: justify;
    padding: 10px 0px;
}

.textContainer ul, .textContainer ol{
    margin: 0px 20px;
}

.textContainer ul li, .textContainer ol li{
    margin: 10px 0px;
}



/*textContainer*/





.code{
    background: rgb(0, 0, 0, .9);
    color: #fff;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px;
    cursor: pointer;
    
}

.code p{
    text-align: left;
    padding: 5px;
}



.code h1, .code h2, .code h3, .code h4, .code h5, code h6{
    margin: 0px;
    text-align: left;
}

/*resultado*/

.resultado{
    margin-top: 20px;
}

.resultado img{
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
}

.resultado h1, .resultado h2, .resultado h3, .resultado h4, .resultado h5{
    margin: 0px;
    text-align: left;
}


.resultado{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    
}

.resultado p{
    text-align: left;
    padding: 5px;
}

/*resultado*/


.space{
   margin-bottom: 5px;
}



/*colores*/

/*paleta de colores en uso:*/

.tomato{
    background: tomato;
}

.orange{
    background: orange;
}

.dodgerblue{
    background: dodgerblue;
}

.mediumseagreen{
    background: mediumseagreen;
}

.gray{
    background: gray;
}

.rojoRgb{
    background: rgb(255, 0, 0);
}

.azulRgb{
    background: rgb(0, 0, 255);
}

.verdeRgb{
    background: rgb(60, 179, 113);
}

.violetaRgb{
    background: rgb(238, 130, 238);
}

.naranjaRgb{
    background: rgb(255, 165, 0);
}

.rojoHex{
    background: #ff0000;
}

.azulHex{
    background: #0000ff;
}

.verdeHex{
    background: #3cb371;
}

.violetaHex{
    background: #ee82ee;
}

.naranjaHex{
    background: #ffa500;
}

.rojoHsl{
    background: hsl(0, 100%, 50%);
}

.azulHsl{
    background: hsl(240, 100%, 50%)
}

.verdeHsl{
    background: hsl(147, 50%, 47%)
}

.violetaHsl{
    background: hsl(300, 76%, 72%)
}

.naranjaHsl{
    background: hsl(39, 100%, 50%)
}

.center{
    margin: 20px auto;
}

.image{
    
    width: 100%;
}

.elemento1{
    color: red;
}

.elemento2{
    color: #fff;
    background: blue;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
}

.elemento3{
    color: violet;
}

.elemento4{
    font-size: 50px;
}

.elemento5{
    text-decoration: line-through;
}



/*colores*/



/*enlace*/

.enlace{
    color:#0000EE;
    text-decoration: underline;
}

/*enlace*/

/*tablas*/

table{
    width: 100%;
}

td, th {
  border: 1px solid #f0aa29;
  padding: 8px;
  transition: .5s;
  cursor: pointer;
}

td:hover{
  background:#f0aa29;
}

tr:nth-child(even) {
  background-color: #f0aa29;
}

/*tablas*/


.londres{
    background: #02ff4e;
    
}

.paris{
    background: #0252ff;
    color: #fff;
}

.tokio{
    background: #ff029e;
    color: #fff;
}

.pequeno{
    font-size: .8em;
}

.mediano{
    font-size: 1.3em;
}

.grande{
    font-size: 2em;
}

#titulo{
    background: skyblue;
    padding: 10px;
    text-align: center;
}

#parrafo{
    padding: 0;
    color: skyblue;
    background: black;
}

































/*responsive*/


@media only screen and ( max-width: 768px ){ 
    .textContainer{
        width: 90%;
    }

    .resultado img{
        height: 100%;
    }

}


