* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header bg changes */
.navbar {
  background-image: linear-gradient(
    to right,
    rgb(89, 54, 134),
    rgb(59, 24, 105)
  );
  padding: 0%;
}

.banner {
  background-image: linear-gradient(
    to right,
    rgb(89, 54, 134),
    rgb(59, 24, 105)
  );
  padding-top: 7%;
  color: white;
}
.brand {
  font-size: 50px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 50px;
}
/* Index Footer center aligment*/
footer {
  margin: 0;
  padding: 0;
  text-align: center;
}

.rights {
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: rgb(59, 24, 105);
  color: white;
  margin: 0;
}

header {
  font-size: 1.3em;
}
.navbar-brand {
  font-size: 1.5em;
}
body {
  font-family: Helvetica;
  font-size: 1.3em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #fff;
}

/*scroll-indicator*/

.header {
  position: fixed;
  top: 0;

  width: 100%;
}

.header h2 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #333;
}

.progress-bar {
  height: 5px;
  width: 0%;
}

.htmlBar {
  background: #ff7f48;
}

.cssBar {
  background: #5286ff;
}

.sassBar {
  background: #e46ca6;
}

.javascriptBar {
  background: #fff192;
}

.gitBar {
  background: #ff6d50;
}

.typescriptBar {
  background: #0f91e7;
}

.reactBar {
  background: #8ce8ff;
}

.angularBar {
  background: #ca3739;
}

.vueBar {
  background: #4acf94;
}

.phpBar {
  background: #868ac9;
}

.sqlBar {
  background: #00a4ef;
}

.nodeBar {
  background: #77b472;
}

.mysqlBar {
  background: #0688a5;
}

.mongodbBar {
  background: #5ac749;
}

/*scroll-indicator*/

/*top-panel*/

.top-panel {
  padding: 20px;
  background: #103047;
}

/*top-panel*/

.swipe {
  display: flex;
}

/*courses*/

.courseContainer {
  background: #103047;
  color: #fff;
  width: 20%;
}

.courses {
  background: #0c2435;
}

.courses .course a {
  margin: auto;
  position: relative;
  transition: 0.5s;
  display: block;
  text-transform: lowercase;
  padding: 10px;
}

.courses .course a:hover {
  background: #103047;
  color: rgb(11, 248, 11) !important;
}

.courses .course.html a {
  color: #f06529;
}

.courses .course.css a {
  color: #2965f1;
}

.courses .course.sass a {
  color: #cd6799;
}

.courses .course.javascript a {
  color: #d1be41;
}

.courses .course.github a {
  color: #f1502f;
}

.courses .course.typescript a {
  color: #007acc;
}

.courses .course.react a {
  color: #61dbfb;
}

.courses .course.angular a {
  color: #b52e31;
}

.courses .course.vue a {
  color: #41b883;
}

.courses .course.php a {
  color: #787cb5;
}

.courses .course.sql a {
  color: #00a4ef;
}

.courses .course.node a {
  color: #68a063;
}

.courses .course.mysql a {
  color: #00758f;
}

.courses .course.mongodb a {
  color: #4db33d;
}

/*courses*/

/*practice*/
.practice {
  background: #184a6f;
  width: 100%;
  color: #fff;
}

.practice h1 {
  text-align: center;
  margin: 20px;
}

.practice p {
  margin: 20px;
}

.projectContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.projectContainer h3 {
  text-align: center;
  color: #333;
  margin: 10px;
}

#sidebar-wrapper {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: rgb(148, 46, 46);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 200px;
}

#sidebar-wrapper a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#main {
  margin-left: 220px;
  margin-right: 20px;
}

.cursos-header {
  text-align: center;
}
.projectContainer > div {
  border-radius: 5px;
  transition: 0.5s;
  margin: 20px 20px;
}

.project a {
  padding: 10px;
  transition: 0.5s;
  display: block;
  text-align: center;
}

.project a:hover {
  font-size: 1.1em;
}

.htmlAndCssPractice {
  color: #fff;
  background: #f15614;
}

.htmlAndCssPractice a:hover {
  background: #ff5c16;
}

.sassPractice {
  background: #cd6799;
}

.sassPractice a:hover {
  background: #ff81be;
}

.javascriptPractice {
  background: #f0db4f;
}

.javascriptPractice a:hover {
  background: #ffe854;
}

.gitPractice {
  background: #f1502f;
}

.gitPractice a:hover {
  background: #f85838;
}

.typescriptPractice {
  background: #007acc;
}

.typescriptPractice a:hover {
  background: #029aff;
}

.reactPractice {
  background: #61dbfb;
}

.reactPractice a:hover {
  background: #5dd2f0;
}

.angularPractice {
  background: #b52e31;
}

.angularPractice a:hover {
  background: #c93436;
}

.vuePractice {
  background: #41b883;
}

.vuePractice a:hover {
  background: #4edd9d;
}

.phpPractice {
  background: #787cb5;
}

.phpPractice a:hover {
  background: #9499df;
}

.sqlPractice {
  background: #00a4ef;
}

.sqlPractice a:hover {
  background: #02afff;
}

.nodePractice {
  background: #68a063;
}

.nodePractice a:hover {
  background: #7ebe78;
}

.mysqlPractice {
  background: #00758f;
}

.mysqlPractice a:hover {
  background: #06b3da;
}

.mongodbPractice {
  background: #4db33d;
}

.mongodbPractice a:hover {
  background: #56c945;
}

/*practice*/

/*htmlCourse*/

#html {
  background: #f06529;
}

/*htmlCourse*/

/*cssCourse*/

#css {
  background: #2965f1;
}

/*cssCourse*/

/*sassCourse*/

#sass {
  background: #cd6799;
}

/*sassCourse*/

/*javascriptCourse*/

#javascript {
  background: #ffe958;
}

/*javascriptCourse*/

/*gitCourse*/

#git {
  background: #f1502f;
}

/*gitCourse*/

/*typescriptCourse*/

#typescript {
  background: #007acc;
}

/*typescriptCourse*/

/*reactCourse*/

#react {
  background: #61dbfb;
}

/*reactCourse*/

/*angularCourse*/

#angular {
  background: #b52e31;
}

/*angularCourse*/

/*vueCourse*/

#vue {
  background: #41b883;
}

/*vueCourse*/

/*phpCourse*/

#php {
  background: #787cb5;
}

/*phpCourse*/

/*sqlCourse*/

#sql {
  background: #00a4ef;
}

/*sqlCourse*/

/*nodeCourse*/

#node {
  background: #68a063;
}

/*nodeCourse*/

/*mysqlCourse*/

#mysql {
  background: #00758f;
}

/*mysqlCourse*/

/*mongodbCourse*/

#mongodb {
  background: #4db33d;
}

/*mongodbCourse*/

/*textContainer*/

.textContainer {
  background: #fff;
  border-radius: 5px;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
}

.textContainer .center {
  width: 100%;
}

.textContainer img {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.textContainer h1,
.textContainer h2 {
  text-align: center;
  margin: 20px;
}

.textContainer p {
  text-align: justify;
  padding: 10px 0px;
}

.textContainer ul,
.textContainer ol {
  margin: 0px 20px;
}

.textContainer ul li,
.textContainer ol li {
  margin: 10px 0px;
}

/*textContainer*/

.code {
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 10px;
  cursor: pointer;
  overflow: auto;
}

.code p {
  text-align: left;
  padding: 5px;
}

.code h1,
.code h2,
.code h3,
.code h4,
.code h5,
code h6 {
  margin: 0px;
  text-align: left;
}

/*resultado*/

.resultado {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #333;
}

.resultado img {
  width: 100%;
  height: 350px;
  padding: 0;
  margin: 0;
}

.resultado h1,
.resultado h2,
.resultado h3,
.resultado h4,
.resultado h5 {
  margin: 0px;
  text-align: left;
}

.resultado {
  padding: 10px;
  border-radius: 5px;
}

/*resultado*/

.space {
  margin-bottom: 5px;
}

/*colores*/

/*paleta de colores en uso:*/

.tomato {
  background: tomato;
}

.orange {
  background: orange;
}

.dodgerblue {
  background: dodgerblue;
}

.mediumseagreen {
  background: mediumseagreen;
}

.gray {
  background: gray;
}

.rojoRgb {
  background: rgb(255, 0, 0);
}

.azulRgb {
  background: rgb(0, 0, 255);
}

.verdeRgb {
  background: rgb(60, 179, 113);
}

.violetaRgb {
  background: rgb(238, 130, 238);
}

.naranjaRgb {
  background: rgb(255, 165, 0);
}

.rojoHex {
  background: #ff0000;
}

.azulHex {
  background: #0000ff;
}

.verdeHex {
  background: #3cb371;
}

.violetaHex {
  background: #ee82ee;
}

.naranjaHex {
  background: #ffa500;
}

.rojoHsl {
  background: hsl(0, 100%, 50%);
}

.azulHsl {
  background: hsl(240, 100%, 50%);
}

.verdeHsl {
  background: hsl(147, 50%, 47%);
}

.violetaHsl {
  background: hsl(300, 76%, 72%);
}

.naranjaHsl {
  background: hsl(39, 100%, 50%);
}

.center {
  margin: 20px auto;
}

.image {
  width: 100%;
}

.elemento1 {
  color: red;
}

.elemento2 {
  color: #fff;
  background: blue;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
}

.elemento3 {
  color: violet;
}

.elemento4 {
  font-size: 50px;
}

.elemento5 {
  text-decoration: line-through;
}

/*colores*/

/*enlace*/

.enlace {
  color: #0000ee;
  text-decoration: underline;
}

/*enlace*/

/*tablas*/

table {
  width: 100%;
}

td,
th {
  border: 1px solid #f0aa29;
  padding: 8px;
  transition: 0.5s;
  cursor: pointer;
}

td:hover {
  background: #f0aa29;
}

tr:nth-child(even) {
  background-color: #f0aa29;
}

/*tablas*/

.londres {
  background: #02ff4e;
}

.paris {
  background: #0252ff;
  color: #fff;
}

.tokio {
  background: #ff029e;
  color: #fff;
}

.pequeno {
  font-size: 0.8em;
}

.mediano {
  font-size: 1.3em;
}

.grande {
  font-size: 2em;
}

#titulo {
  background: skyblue;
  padding: 10px;
  text-align: center;
}

#parrafo {
  padding: 0;
  color: skyblue;
  background: black;
}

.multi {
  padding: 10px;
  border-radius: 5px;
}

.multiHtml {
  background: #ffb08e;
}

.multiCss {
}

.multiSass {
  background: #ffcfe6;
}

.multiJs {
  background: #f0db4f;
}

.practica {
  background: #aa2aca;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  margin: 20px auto;
  transition: 0.5s;
}

.practica:hover { 
  background: #9625b3;
}

.div1 {
  background: #a2b9bc;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.div2 {
  background: #b2ad7f;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.div3 {
  background: #878f99;
  width: 100%;
  height: 20px;
}

.fa-arrow-left {
  transition: 0.3s;
  padding: 10px;
  margin: 5px;
  border-radius: 100px;
  color: #fff;
}

.fa-arrow-left:hover {
  color: rgb(0, 255, 0);
  background: #2c3d86;
}

.navbar {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}


#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #485db1;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}



#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  transition: .5s;
  text-decoration: none;
  color: #fff;
}

#sidebar ul li a:hover {
  background: #2c3d86;
  color: rgb(0, 255, 0);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}


a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}



/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}


.bg-menu{
  background: #2c3d86;
}


.cards {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
}

.card {
  margin: 15px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.card__inner {
  background-color: #949fb0;
  color: #eceef1;
  cursor: pointer;
  font-size: 1.5em;
  padding: 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__expander {
  align-items: center;
  background-color: #333a45;
  color: #eceef1;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  opacity: 0;
  overflow: hidden;
  margin-top: 0;
  max-height: 0;
  min-height: 0;
}
.card.is-expanded .card__inner {
  background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
  bottom: -30px;
  content: "";
  display: block;
  height: 0;
  left: calc(50% - 15px);
  opacity: 1;
  position: absolute;
  width: 0;
}
.card.is-expanded .card__expander {
  margin-top: 30px;
  max-height: 1000px;
  min-height: 200px;
  opacity: 1;
  overflow: visible;
}
.card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  transform: scale(1);
}







/*animations*/

/*animations*/

/*responsive*/

@media only screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }

  .textContainer {
    width: 95%;
  }

  .resultado img {
    height: 100%;
  }

  .projectContainer > div {
    width: 100%;
  }


  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
}
#sidebar.active {
    margin-left: 0;
    transform: none;
}
#sidebarCollapse span:first-of-type,
#sidebarCollapse span:nth-of-type(2),
#sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
#sidebarCollapse.active span {
    margin: 0 auto;
}
#sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}



}
